<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow users="?" />
            <allow users="?" />
            <allow users="*" />
        </authorization>
        <authentication mode="Forms" />
        <identity impersonate="true" />
    </system.web>
</configuration>
